@use 'globalStyles' as *;

.actual-price {

    color: $primary-text;

}

.discount-price {

    color: $accent-orange;
    font-weight: $fw-700;
    border-radius: 5px;
    padding-right: 30%;

}

.original-price {

    text-decoration: line-through;
    color: $dark-blue-500;
    font-weight: $fw-700;

}

// slider section

// slider buttons for mobile
.btn {

    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: $bg-white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;


}

.btn--left {

    left: 15px;
    
    svg{
        margin-right: 4px;
    }
    

}

.btn--right {

    right: 15px;

    svg {

        margin-left: 4px;
    }
    
}


// slider images
.slider__container {

    width: 100%;
    overflow: hidden;
    position: relative;

    .slider {

        width: 100%;
        height: 100%;

        .slide {

            width: 100%;
            height: 100%;
            // object-fit: cover;

        }
    }

}


// Product Section

.product {

    padding: 20px;
}


.product__content {

    gap: 20px;

    .product__description {

            &>* {

                margin-top: 0.7rem;
    
            }

            p:nth-of-type(1){

                color: $accent-orange;
                font-weight: $fw-700;

            }

            p:nth-of-type(2){

                color: $dark-blue-500;
                line-height: 1.5;

            }

    }

    .product__price {

        justify-content: space-between;
        align-items: center;
        

    }

    .product__checkout {

        padding: 0.8rem 1.3rem;
        border-radius: 1rem;
        justify-content: space-between;
        align-items: center;
        
        button {

            display: grid;
            height: 30px;
            width: 30px;
            place-items: center;
            border: none;

            &:hover {
                 
                border: 1px solid $accent-orange;
                border-radius: 5px;

            }

        }

        .qty {

            font-weight: $fw-700;
        }
    }

    .checkout-btn {

        justify-content: center;
        align-items: center;
        background-color: $accent-orange;
        color: $accent-pale;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-weight: $fw-700;
        box-shadow: 0px 10px 25px rgba($accent-orange, 0.5);

        svg {

            margin-right: 1rem;
        }

    }

}