@use 'globalStyles' as *;

// navbar section styling

nav {

    padding: 20px;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

    .mobileMenu {

        cursor: pointer;
    }

    .nav--section {

        gap: 20px;

    }

    .account {

        img {

            width: 30px;
            height: 30px;

        }

    }

}

.mobile__sidebar-container {

    background-color: rgba($primary-text, 0.4);
    position: fixed;
    transform: translateX(-100%);
    inset: 0;
    z-index: 10;
    transition: transform 0.4s ease-in-out;

    .mobile__sidebar {

        width: 60%;
        background-color: $bg-white;
        height: 100%;
        padding: 1rem;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;

        .close {

            margin-bottom: 30px;

        }

        .mobile__link-container {

            list-style: none;
            display: grid;
            gap: 25px;

            .mobile__link {

                a {

                    color: $primary-text;
                    text-decoration: none;
                    font-weight: $fw-700;
                }


            }
        }
    }

}

.active {

    transform: translateX(0%);

    .mobile__sidebar {

        transform: translateX(0%);

        }

}


.actual-price {

    color: $primary-text;

}

.discount-price {

    color: $accent-orange;
    font-weight: $fw-700;
    border-radius: 5px;
    padding-right: 30%;

}

.original-price {

    text-decoration: line-through;
    color: $dark-blue-500;
    font-weight: $fw-700;

}

// slider section

// slider buttons for mobile
.btn {

    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: $bg-white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;


}

.btn--left {

    left: 15px;
    
    svg{
        margin-right: 4px;
    }
    

}

.btn--right {

    right: 15px;

    svg {

        margin-left: 4px;
    }
    
}


// slider images
.slider__container {

    width: 100%;
    overflow: hidden;
    position: relative;

    .slider {

        width: 100%;
        height: 100%;

        .slide {

            width: 100%;
            height: 100%;
            // object-fit: cover;

        }
    }

}


// Product Section

.product {

    padding: 20px;
}


.product__content {

    gap: 20px;

    .product__description {

            &>* {

                margin-top: 0.7rem;
    
            }

            p:nth-of-type(1){

                color: $accent-orange;
                font-weight: $fw-700;

            }

            p:nth-of-type(2){

                color: $dark-blue-500;
                line-height: 1.5;

            }

    }

    .product__price {

        justify-content: space-between;
        align-items: center;
        

    }

    .product__checkout {

        width: 100%;
        padding: 0.8rem 1.3rem;
        border-radius: 1rem;
        justify-content: space-between;
        align-items: center;
        
       #increase-qty, #decrease-qty {

            display: grid;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;

            &:hover {
                 
                border: 1px solid $accent-orange;
                border-radius: 5px;

            }

        }

        .qty {

            font-weight: $fw-700;
        }
    }

    .checkout-btn {

        justify-content: center;
        align-items: center;
        background-color: $accent-orange;
        color: $accent-pale;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-weight: $fw-700;
        box-shadow: 0px 10px 25px rgba($accent-orange, 0.5);

        svg {

            margin-right: 1rem;
        }

    }

}

// shopping cart styling

.cart-container {

    position: fixed;
    inset: 0;
    background-color: hsl(0,0,0,0.2);
    z-index: 10;
    padding: 1rem 0.5rem;
}

.cart {

    position: relative;
    top: 14%;
    padding: 1rem 0.5rem;
    background-color: $bg-white;
    border-radius: 5px;

    .cart__header {

        padding: 0.8rem;
        border-bottom: 2px solid #ccc;
        font-weight: bolder;
        font-size: 1.3rem;
    }

    .cart__content {

        padding: 1rem;
        place-items: center;
    }
    
}