/*  ------------------------ */
/* import fonts              */
/*  ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
/*  ------------------------ */
/*  custom props             */
/*  ------------------------ */
/*  ------------------------ */
/*  Reset                    */
/*  ------------------------ */
/* Box sizing */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* set up body */
body {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fraunces", serif;
  color: #1c4033;
}

/* adjust images  */
img {
  max-width: 100%;
  display: block;
}

/* adjust form elements */
input,
button,
select {
  font: inherit;
}

/* remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*  ------------------------ */
/*  Typography               */
/*  ------------------------ */
/* text colours */
.text-light {
  color: white;
}

.text-dark {
  color: #1c232b;
}

.text-accent {
  color: #f2ebe3;
}

/*  ------------------------ */
/*  Components               */
/*  ------------------------ */
.cta {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3c8067;
  width: 100%;
  border-radius: 10px;
}
.cta img {
  padding-right: 1rem;
}
.cta a {
  color: white;
}
.cta:hover {
  background-color: #1c4033;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/*  ------------------------ */
/*  Layout                   */
/*  ------------------------ */
.container {
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
}

/*  ------------------------ */
/*  Utilities                */
/*  ------------------------ */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.upper {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.sale {
  text-decoration: line-through;
}

/*  ------------------------ */
/*  Misc                     */
/*  ------------------------ */
.content {
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content > * {
  padding: 0.7rem 0;
}
.content h1 {
  line-height: 1.2;
}
.content p {
  line-height: 1.5;
}

.product-img {
  background: url("../images/image-product-desktop.jpg");
  width: auto;
  background-size: contain;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pricing {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pricing h2 {
  color: #3c8067;
  font-size: 30px;
}

.attribution {
  margin: 1rem;
  text-align: center;
}

@media only screen and (max-width: 580px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .content {
    padding: 1rem;
  }

  .product-img {
    background: url("../images/image-product-mobile.jpg");
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .pricing {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */