// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

// font families
$ff-raleway: 'Open Sans', sans-serif;
$ff-opensans: 'Raleway', sans-serif;

// primary colors
$primary-mainBG: hsl(218, 28%, 13%);
$primary-sectionsBG: hsl(217, 28%, 15%);
$primary-footer: hsl(216, 53%, 9%);
$primary-testimonials: hsl(219, 30%, 18%);

// accents
$accent-cta-cyan: hsl(176, 68%, 64%);
$accent-cta-blue: hsl(198, 60%, 50%);
$accent-errors: hsl(0, 100%, 63%);

// neutrals colors
$netural-white: hsl(0, 0%, 100%);

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: $ff-opensans;
    font-size: 14px;
    background: $primary-mainBG;
    color: $netural-white;
}


.navigation {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1rem;

    .logo {

        width: 30%;

        img {

            width: 80%;
        }
    }

    .navigation-links {

        width: 70%;

        ul {

            list-style: none;
            display: flex;
            flex-direction: row;       
            justify-content: center;      
            align-items: center;   
            
            li {

                padding-left: 1rem;

                a {

                    text-decoration: none;
                    font-family: $ff-raleway;
                    color: $netural-white;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover {

                        font-weight: 600;
                        text-decoration: underline;

                    }
                }

            }
        }
    }

} //end of navigation bar


.container {

    padding: 0 5%;

    .hero-banner {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: $primary-sectionsBG;

        .banner-image {
        
            // background: url("../images/bg-curvy-mobile.svg");
            // background-size: 100%;
            // background-position: bottom;
            // background-repeat: no-repeat;
            // background-position-y: 250px;

            img {

                width: 100%;
                height: auto;
                margin-bottom: 2rem;
            }

        }

        .banner-content {
            
            background-color: $primary-mainBG;
          
            &>* {

                margin-bottom: 1.5rem;

            }

            h1 {

                line-height: 2.5rem;
                
            }

            p {

                line-height: 1.3rem;
                

            }

            a {

                text-decoration: none;
                color: $netural-white;
                font-weight: 600;
                background-color: $accent-cta-cyan;
                padding: 0.8rem 4rem;
                border-radius: 100px;

                &:hover {

                    cursor: pointer;
                    background-color: rgba($accent-cta-cyan, 0.7);

                }

            }

        }

    } //end of hero banner

    .features {

        text-align: center;
        padding: 2rem 0;



        .feature-item {
            &>* {

                margin-bottom: 1rem;
    
            }

            img {

                width: 50px;
            }

            h2 {


            }

            p {

                line-height: 1.3rem;

            }

        }

    } // end of features section

    .productive {

        div {

            img {

                width: 100%;
            }
        }

        div {

            &>* {

                margin-bottom: 1rem;
            }

            h3 {

            }

            p {

                line-height: 1.3rem;
            }

            a {

                line-height: 1rem;
                color: $accent-cta-cyan;
                display: flex;
                flex-direction: row;
                align-items: center;

                svg {

                    margin-left: 0.5rem;
                }
            }
        }
    } // end of productive section

    .testimonials {

        display: grid;
        gap: 30px;
        margin-bottom: 2rem;

        .testimonial {

            padding: 2rem 2rem;
            background-color: $primary-testimonials;
            border-radius: 5px;
            

                p {
    
                    font-size: 12px;
                    line-height: 1.5rem;
    
                }

                div {

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {

                        width: 30px;
                        border-radius: 100px;
                        margin-right: 1rem;
                    }

                    div {

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                    }

                }

        }
    } // end of testimonials

    .subscribe {

        text-align: center; 
        // background: linear-gradient(90deg,  $primary-sectionsBG 50%, $primary-footer 50%);

        .subscribe-card {
            
            padding: 2rem 1rem;
            background-color: $primary-sectionsBG;
            box-shadow: 2px 3px 15px rgb(22, 22, 22);

            p {
            
                line-height: 1.5rem;
                margin-bottom: 1rem;
            
            }
            
            div {
            
                display: flex;
                flex-direction: column;

                input {

                    padding: 0.8rem;
                    border-radius: 100px;
                    margin-bottom: 1rem;

                    &::after {

                        font-size: 12px;

                    }
                }

                button {

                    padding: 0.8rem;
                    border-radius: 100px;
                    border: none;
                    background: $accent-cta-blue;
                    color: $netural-white;

                }
            
            }


        }

    } // end of subscribe section


} //end of page container

.footer {

    background: $primary-footer;
    padding: 3rem 2rem;

    &>* {

        margin-bottom: 2rem;
    }


    .footer-info {

        &>* {

            margin-bottom: 3rem;
        }

        div {

            &>* {

                margin-bottom: 1rem;
            }

            p {


                img {

                    padding-right: 1rem;
                }
            }

            a {

                text-decoration: none;
                color: $netural-white;
                display:flex;
                flex-direction: column;


            }
        }

        .socials {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a {

                font-size: 20px;
                margin: 0 0.5rem;

                border: 1px solid $netural-white;
                border-radius: 100px;
                padding: 0.5rem;
                

            }
        }

    }

}
