// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

// font families
$ff-raleway: 'Open Sans', sans-serif;
$ff-opensans: 'Raleway', sans-serif;

// primary colors
$primary-mainBG: hsl(218, 28%, 13%);
$primary-sectionsBG: hsl(217, 28%, 15%);
$primary-footer: hsl(216, 53%, 9%);
$primary-testimonials: hsl(219, 30%, 18%);

// accents
$accent-cta-cyan: hsl(176, 68%, 64%);
$accent-cta-blue: hsl(198, 60%, 50%);
$accent-errors: hsl(0, 100%, 63%);

// neutrals colors
$netural-white: hsl(0, 0%, 100%);


// breakpoints for different screens
$bp : (
mobile: 375px,
tablet : 768px,
desktop : 900px

);


@mixin query($screen) {

    @each $key, $value in $bp {

        @if($screen == $key){

            @media(max-width : $value){

                @content
            }

        }

    }

}



* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: $ff-opensans;
    font-size: 14px;
    background: $primary-mainBG;
    color: $netural-white;
}


.navigation {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1rem;
    background: $primary-sectionsBG;

    .logo {

        width: 30%;

        img {

            width: 80%;
        }
    }

    .navigation-links {

        width: 70%;

        ul {

            list-style: none;
            display: flex;
            flex-direction: row;       
            justify-content: center;      
            align-items: center;   
            
            li {

                padding-left: 1rem;

                a {

                    text-decoration: none;
                    font-family: $ff-raleway;
                    color: $netural-white;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover {

                        font-weight: 600;
                        text-decoration: underline;

                    }
                }

            }
        }
    }

} //end of navigation bar


.container {


    &>* {

        margin-bottom: 4rem;
    }

// ------- hero banner section  ------- //
    .hero-banner {

        text-align: center;
        background: url("../images/bg-curvy-mobile.svg");
        background-color: hsl(217, 28%, 15%);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom center;
        

        .banner-content {

            padding: 2rem;
           
            img {
                
                width: 100%;
                height: auto;
                margin-bottom: 2rem;
            }
            
            
            &>* {
                
                margin-bottom: 1.5rem;
                
            }
            
            h1 {
                
                line-height: 2.5rem;
                
            }
            
            p {
                
                line-height: 1.3rem;
            }
            
            a {
                
                text-decoration: none;
                color: $netural-white;
                font-weight: 600;
                background-color: $accent-cta-cyan;
                padding: 0.8rem 4rem;
                border: none;
                border-radius: 100px;
                
                &:hover {
                    
                    cursor: pointer;
                    background-color: rgba($accent-cta-cyan, 0.7);
                    
                }
                
            }
            
        }

    } //end of hero banner


    // ------- features section  ------- //
    .features {

        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
        padding: 2rem;


        .feature-item {


            &>* {

                margin: 1rem auto;
    
            }

            img {

                width: 50px;
            }

            p {

                line-height: 1.3rem;

            }

        }

    } // end of features section

    .productive {

        padding: 0 2rem;

        div {

            margin-bottom: 2rem;
            text-align: center;

            img {

                width: 100%;
            }
        }


        div {

            text-align: left;

            &>* {

                margin-bottom: 1rem;
            }

            p {

                line-height: 1.3rem;
            }

            a {

                line-height: 1rem;
                color: $accent-cta-cyan;
                display: flex;
                flex-direction: row;
                align-items: center;

                svg {

                    margin-left: 0.5rem;
                }
            }
        }
    } // end of productive section

    .testimonials {

        display: grid;
        grid-template-columns: 300px;
        gap: 50px;
        justify-content: center;
        position: relative;
        
        .quote {

            position: aboslute;
            width: 25px;
            height: auto;
            transform: translateY(50px);

        }


        .testimonial {

            padding: 2rem 2rem;
            background-color: $primary-testimonials;
            border-radius: 5px;
            

                p {
    
                    font-size: 12px;
                    line-height: 1.5rem;
                    margin-bottom: 0.7rem;
    
                }

                div {

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {

                        width: 30px;
                        border-radius: 100px;
                        margin-right: 1rem;
                    }

                    div {

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                    }

                }

        }
    } // end of testimonials

    .subscribe {

        text-align: center; 
        background:linear-gradient($primary-mainBG 50%,  $primary-footer 50%);
        margin-bottom: 0;

        .subscribe-card {
            
            padding: 2rem 1rem;
            background-color: $primary-sectionsBG;
            box-shadow: 2px 3px 15px rgb(22, 22, 22);
            width: 90%;
            margin: auto auto;
            border-radius: 10px;

            p {
            
                line-height: 1.5rem;
                margin-bottom: 1rem;
            
            }
            
            div {
            
                display: flex;
                flex-direction: column;

                input {

                    padding: 0.8rem;
                    border-radius: 100px;
                    margin-bottom: 1rem;

                    &::after {

                        font-size: 12px;

                    }
                }

                button {

                    padding: 0.8rem;
                    border-radius: 100px;
                    border: none;
                    background: $accent-cta-blue;
                    color: $netural-white;

                }
            
            }


        }

    } // end of subscribe section


} //end of page container

.footer {

    background: $primary-footer;
    padding: 3rem 2rem;

    &>* {

        margin-bottom: 2rem;
    }


    .footer-info {

        &>* {

            margin-bottom: 3rem;
        }

        div {

            &>* {

                margin-bottom: 1rem;
            }

            div {

                display: flex;
                flex-direction: row;
                align-items: flex-start;

                img {
    
                    padding-right: 1rem;
                }
    
                p {
    
    
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    line-height: 1.5rem;
    
                }
            }


            a {

                text-decoration: none;
                color: $netural-white;
                display:flex;
                flex-direction: column;


            }
        }

        .socials {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a {

                font-size: 20px;
                margin: 0 0.5rem;

                border: 1px solid $netural-white;
                border-radius: 100px;
                padding: 0.5rem;
                

            }
        }

    }

}
