@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background: #181f2a;
  color: white;
}

.container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1rem;
}
.container .navigation .logo {
  width: 30%;
}
.container .navigation .logo img {
  width: 80%;
}
.container .navigation .navigation-links {
  width: 70%;
}
.container .navigation .navigation-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .navigation .navigation-links ul li {
  padding-left: 1rem;
}
.container .navigation .navigation-links ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  cursor: pointer;
}
.container .navigation .navigation-links ul li a:hover {
  font-weight: 600;
  text-decoration: underline;
}
.container .hero-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #1c2431;
}
.container .hero-banner .banner-image img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.container .hero-banner .banner-content {
  background-color: #181f2a;
}
.container .hero-banner .banner-content > * {
  margin-bottom: 1.5rem;
}
.container .hero-banner .banner-content h1 {
  line-height: 2.5rem;
}
.container .hero-banner .banner-content p {
  line-height: 1.3rem;
}
.container .hero-banner .banner-content a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #65e2d9;
  padding: 0.8rem 4rem;
  border-radius: 100px;
}
.container .hero-banner .banner-content a:hover {
  cursor: pointer;
  background-color: rgba(101, 226, 217, 0.7);
}
.container .features {
  text-align: center;
  padding: 2rem 0;
}
.container .features .feature-item > * {
  margin-bottom: 1rem;
}
.container .features .feature-item img {
  width: 50px;
}
.container .features .feature-item p {
  line-height: 1.3rem;
}
/*# sourceMappingURL=styles.css.map */