@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background: #181f2a;
  color: white;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1rem;
}
.navigation .logo {
  width: 30%;
}
.navigation .logo img {
  width: 80%;
}
.navigation .navigation-links {
  width: 70%;
}
.navigation .navigation-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .navigation-links ul li {
  padding-left: 1rem;
}
.navigation .navigation-links ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  cursor: pointer;
}
.navigation .navigation-links ul li a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.container {
  padding: 0 5%;
}
.container .hero-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #1c2431;
}
.container .hero-banner .banner-image img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.container .hero-banner .banner-content {
  background-color: #181f2a;
}
.container .hero-banner .banner-content > * {
  margin-bottom: 1.5rem;
}
.container .hero-banner .banner-content h1 {
  line-height: 2.5rem;
}
.container .hero-banner .banner-content p {
  line-height: 1.3rem;
}
.container .hero-banner .banner-content a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #65e2d9;
  padding: 0.8rem 4rem;
  border-radius: 100px;
}
.container .hero-banner .banner-content a:hover {
  cursor: pointer;
  background-color: rgba(101, 226, 217, 0.7);
}
.container .features {
  text-align: center;
  padding: 2rem 0;
}
.container .features .feature-item > * {
  margin-bottom: 1rem;
}
.container .features .feature-item img {
  width: 50px;
}
.container .features .feature-item p {
  line-height: 1.3rem;
}
.container .productive div img {
  width: 100%;
}
.container .productive div > * {
  margin-bottom: 1rem;
}
.container .productive div p {
  line-height: 1.3rem;
}
.container .productive div a {
  line-height: 1rem;
  color: #65e2d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .productive div a svg {
  margin-left: 0.5rem;
}
.container .testimonials {
  display: grid;
  gap: 30px;
  margin-bottom: 2rem;
}
.container .testimonials .testimonial {
  padding: 2rem 2rem;
  background-color: #202a3c;
  border-radius: 5px;
}
.container .testimonials .testimonial p {
  font-size: 12px;
  line-height: 1.5rem;
}
.container .testimonials .testimonial div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .testimonials .testimonial div img {
  width: 30px;
  border-radius: 100px;
  margin-right: 1rem;
}
.container .testimonials .testimonial div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container .subscribe {
  text-align: center;
}
.container .subscribe .subscribe-card {
  padding: 2rem 1rem;
  background-color: #1c2431;
  -webkit-box-shadow: 2px 3px 15px #161616;
          box-shadow: 2px 3px 15px #161616;
}
.container .subscribe .subscribe-card p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.container .subscribe .subscribe-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .subscribe .subscribe-card div input {
  padding: 0.8rem;
  border-radius: 100px;
  margin-bottom: 1rem;
}
.container .subscribe .subscribe-card div input::after {
  font-size: 12px;
}
.container .subscribe .subscribe-card div button {
  padding: 0.8rem;
  border-radius: 100px;
  border: none;
  background: #339ecc;
  color: white;
}

.footer {
  background: #0b1523;
  padding: 3rem 2rem;
}
.footer > * {
  margin-bottom: 2rem;
}
.footer .footer-info > * {
  margin-bottom: 3rem;
}
.footer .footer-info div > * {
  margin-bottom: 1rem;
}
.footer .footer-info div p img {
  padding-right: 1rem;
}
.footer .footer-info div a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-info .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-info .socials a {
  font-size: 20px;
  margin: 0 0.5rem;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0.5rem;
}
/*# sourceMappingURL=styles.css.map */