/*  ------------------------ */
/* import fonts              */
/*  ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*  ------------------------ */
/*  custom props             */
/*  ------------------------ */
/*  ------------------------ */
/*  Reset                    */
/*  ------------------------ */
/* Box sizing */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* set up body */
/* adjust images  */
img {
  max-width: 100%;
  display: block;
}

/* adjust form elements */
input,
button,
select {
  font: inherit;
}

/* remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*  ------------------------ */
/*  Custom CSS variables     */
/*  ------------------------ */
:root {

  /*  ------------------------ */
  /*  Colors                   */
  /*  ------------------------ */

  /*  ------------------------ */
  /*  Typography               */
  /*  ------------------------ */


  /*  ------------------------ */
  /*  Fonts                    */
  /*  ------------------------ */

}

/*  ------------------------ */
/*  Components               */
/*  ------------------------ */


/*  ------------------------ */
/*  Layout                   */
/*  ------------------------ */


/*  ------------------------ */
/*  Utilities                */
/*  ------------------------ */



/*  ------------------------ */
/*  Misc                     */
/*  ------------------------ */



@media screen and (max-width: 768px) {

}