// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

// font-family
$ff-barlow: 'Barlow Semi Condensed', sans-serif;

// font weights
$fw-500: 500;
$fw-600: 600;

// primary colours
$primary-violet: hsl(263, 55%, 52%);
$primary-grey-blue-900: hsl(217, 19%, 35%);
$primary-black-blue-900: hsl(219, 29%, 14%);
$primary-white: hsl(0, 0%, 100%);

// neutral colours
$neutral-grey: hsl(0, 0%, 81%);
$netural-blue: hsl(210, 46%, 95%);

// opacity
$verified-graduate-txt: rgaba(hsl(0, 0%, 81%), 0.5);
$review-paragraph-txt: rgba(hsl(210, 46%, 95%), 0.7);

// margin variables
$mb-container-padding: calc(100vmax / 15) calc(100vmax / 5);


// breakpoints for different screens
$bp : (

mobile : 411px,
tablet : 768px,
desktop : 900px

);


@mixin query($screen) {

    @each $key, $value in $bp {

        @if($screen == $key){

            @media(min-width : $value){

                @content
            }

        }

    }

}

*, *::before, *::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: $ff-barlow;
    background-color: $neutral-grey;
    font-size: 13px;

}

.testimonial__container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 1rem);
 
}

.testimonial-grid {

    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1440px;

    .testimonial {

        padding: 1.2rem;
        border-radius: 5px;
        background-color: $primary-violet;
        color: $primary-white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        

        .testimonial__contact {

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            

            div {

                h1 {

                    font-size: 16px;
                }

                .verified__txt {

                    color: rgba($primary-white, 0.5);

                }

                img {

                    margin-right: 1rem;
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    border: 2px solid rgba($primary-white, 0.5);
                }
            }

        }

        .testimonial__context {

            &>* {

                margin-top: 1rem;

            }

            .testimonial__quote {

                color: rgba($primary-white, 0.5);
                line-height: 1.2rem;


            }

        }

        &:nth-child(2) {

            background-color: $primary-grey-blue-900;
                
        }
 
        &:nth-child(3), &:nth-child(5){
    
            background-color: $primary-white;
            color: $primary-black-blue-900;

            div {

                img {

                    border: 2px solid $primary-black-blue-900;
                }

                .verified__txt {

                    color: rgba($primary-black-blue-900, 0.7);
                }
            }

            .testimonial__context {
    
                .testimonial__quote {
                    
                    color: rgba($primary-black-blue-900, 0.7);
                    
    
                }
    
            }
    
        }
        &:nth-child(4) {

            background-color: $primary-black-blue-900;

            .testimonial__contact {

                img {

                    border: 2px solid $primary-violet;
                }

            }

        }

    }
}


@include query(tablet) {

    .testimonial-grid {

        grid-template-columns: repeat(2, 1fr);

        .testimonial {

            padding: 2rem;

            .testimonial__context {

                &>* {

                    margin-top: 1.5rem;
    
                }

                .testimonial__quote {
    
                    font-size: 15px;
                    line-height: 1.5;
                    font-weight: 300;
                }

            }


            &:nth-child(4) {

                grid-column: 2 / 2;
                grid-row: 1 / 2;
    
            }

            &:nth-child(5) {

                grid-column: 1 / 1;
                grid-row: 2 / 4;
    
            }

        }

    }

}


@include query(desktop) {

    .testimonial-grid {

        grid-template-columns: repeat(4, 1fr);

        .testimonial {

            &:nth-child(1) {

                grid-column: 1 / 3;
                grid-row: 1 / 1;
    
            }

            &:nth-child(3) {

                grid-row: 2;
                grid-column: 1 / 2;
    
            }

            &:nth-child(4) {

                grid-row: 2;
                grid-column: 2 / 4;
    
            }

            &:nth-child(5) {

                grid-column: 4;
                grid-row: 1 / 3;
    
            }


        }
    }

}